body {
  font-size: 1em;
  font-weight: bold;
  font-family: "Bungee",cursive;
color: #000ff0;
  text-align: left;
  background-color: #48a;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #0000ff;
  text-align: center;
  font-style: "Bungee";
}

h1 p {
  color: #000ff4;
  background-position: left;
  font-size: 32px;

}
h2 {
  color: #000ff6;
  font-size: 42px;
}
}
li {
  color: purple;
  font-weight: 400;
}
p{
  color: gold;
  text-shadow: 5px 2px black;
  font-family: 'Nosifer', cursive;
  font-size: 48.7px;
}
li{
  font-family: "Nosifer";
  font-size: 22px;
}
