body {
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #92e; /* black */
  text-align: left;
  background-color: #48a;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #0000ff;
  text-align: center;
}

h1 p {
  color: #84a;
  background-position: center;
  font-size: 34px;

}
h2 {
  color: #61d;
  font-size: 42px;
}
p {
  color: navy;
  font-family: Roman; cursive;
  font-size: 23px;
}
li {
  color: purple;
  font-weight: bolder;
}
