@import url('https://fonts.googleapis.com/css?family=Bungee|Nosifer');

body {
  font-size: 1em;
  font-weight: bold;
  font-family: "Bungee",cursive;
color: #000ff0;
  text-align: left;
  background-color: mediumpurple;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: midnightblue;
  text-align: center;
  font-style: "Bungee";
}

h2 {
  color: slateblue;
  font-size: 42px;
}

li {
  color: violet;
  font-weight: 400;
}
p{
  color: gold;
  text-shadow: 5px 2px black;
  font-family: "Nosifer", cursive;
  font-size: 1.9em;
  text-align: center;
  line-height: 3em;
}
h3{
  color: red;
  text-shadow: 5px 2px black;
  font-size: 2em;
  text-align: center;
  line-height: 3em;
}
li{
  font-family: "Nosifer";
  font-size: 22px;
}
