@import url('https://fonts.googleapis.com/css?family=Bungee|Nosifer');

body {
  font-size: 1em;
  font-weight: bold;
  font-family: "Bungee",cursive;
color: #000ff0;
  text-align: left;
  background-color: #48a;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #0000ff;
  text-align: center;
  font-style: "Bungee";
}

h2 {
  color: #000ff6;
  font-size: 42px;
}

li {
  color: purple;
  font-weight: 400;
}
p{
  color: gold;
  text-shadow: 5px 2px black;
  font-family: "Nosifer", cursive;
  font-size: 37.7px;
}
h3{
  color: red;
  text-shadow: 4px 5px lavender;
  font-size: 39.8px;
}

}
li{
  font-family: "Nosifer";
  font-size: 22px;
}
